body, html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #1c1c1c;
}

h1 {
  color: #66C3FF;
  margin-left: 24px;
  font-size: 36px;
}

.skewed-right {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(8deg);
}

.skewed-left {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-8deg);
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-top: 40px;
}
.hero .navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hero .navbar .nav-links li {
  margin: 0 15px;
  position: relative;
}
.hero .navbar .nav-links li a {
  color: #66C3FF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  display: block;
}
.hero .navbar .nav-links li a:hover {
  color: white;
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 200px 50px;
  background: url("../assets/images/shapes.svg");
  z-index: 2;
}
.hero .hero-content .text-content {
  max-width: 600px;
  color: #ffffff;
  width: 50%;
  text-align: center;
}
.hero .hero-content .text-content h2 {
  font-size: 36px;
  font-weight: normal;
}
.hero .hero-content .text-content h1 {
  font-size: 84px;
  color: #f50057;
  margin: 10px 0;
}
.hero .hero-content .text-content p {
  font-size: 16px;
  margin: 20px 0;
}
.hero .hero-content .text-content .cta-button {
  background-color: #f50057;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.hero .hero-content .text-content .cta-button:hover {
  background-color: #c20045;
}
.hero .hero-content .img-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero .hero-content .img-container .image-content {
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 600px;
  box-shadow: 0 10px 15px -5px rgb(35, 8, 6);
  margin-top: 200px;
}
.hero .hero-content .img-container .image-content img {
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  width: 100%;
  min-width: 249px;
  min-height: 359px;
  bottom: 0;
}
.hero .hero-content .img-container .image-content .img-description {
  font-size: 24px;
}

@media (max-width: 768px) {
  .hero .hero-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .hero .hero-content .img-container {
    margin-top: 377px;
  }
  .hero .hero-content .img-container .image-content {
    margin-top: 100px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero .navbar .nav-links li {
    margin: 0;
  }
  .hero .hero-content {
    padding: 0 12px;
  }
  .hero .hero-content .text-content h2 {
    font-size: 36px;
  }
  .hero .hero-content .text-content h1 {
    font-size: 48px;
  }
  .hero .hero-content .img-container .image-content {
    margin-top: 0;
    width: 100%;
  }
}
.about-section {
  color: white;
  margin-top: 80px;
  padding: 0 50px;
  z-index: 1;
  position: relative;
}
.about-section .paragraphs {
  display: flex;
  gap: 5%;
}
.about-section .paragraphs p {
  line-height: 1.6em;
  z-index: 1;
}

.portfolio-section {
  margin: 50px 0;
  padding: 0 50px;
}

.card-container {
  display: flex;
  justify-content: space-around;
}
.card-container .omniclip-card {
  background: url("../assets/images/omni-thumbnail.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000;
}
.card-container .tdd-card {
  background: url("../assets/images/tdd_logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #111;
}
.card-container .card {
  position: relative;
  width: 33%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.card-container .card:hover {
  cursor: pointer;
}
.card-container .card .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card-container .card:hover .card-title {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 1200px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container .card {
    width: 100%;
  }
}

.scroll-section {
  position: relative;
  height: 200vh;
}
.scroll-section .shape-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.scroll-section .shape {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100px;
  height: 100px;
}
.scroll-section .shape.visible {
  opacity: 1;
  transform: scale(1);
}

.resume-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.resume-overlay .resume-container {
  border-radius: 100px;
  background: none;
  padding: 40px;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
}
.resume-overlay .resume-container .header {
  text-align: center;
}
.resume-overlay .resume-container .header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #f50057;
}
.resume-overlay .resume-container .header p {
  font-size: 1rem;
  color: #66C3FF;
}
.resume-overlay .resume-container .header a {
  color: #0073e6;
  text-decoration: none;
}
.resume-overlay .resume-container .summary, .resume-overlay .resume-container .skills, .resume-overlay .resume-container .experience, .resume-overlay .resume-container .education, .resume-overlay .resume-container .profiles {
  margin: 20px 0;
}
.resume-overlay .resume-container .summary h2, .resume-overlay .resume-container .skills h2, .resume-overlay .resume-container .experience h2, .resume-overlay .resume-container .education h2, .resume-overlay .resume-container .profiles h2 {
  font-size: 1.8rem;
  color: #fff;
  border-bottom: 2px solid #f50057;
  padding-bottom: 10px;
}
.resume-overlay .resume-container .summary p, .resume-overlay .resume-container .summary li, .resume-overlay .resume-container .skills p, .resume-overlay .resume-container .skills li, .resume-overlay .resume-container .experience p, .resume-overlay .resume-container .experience li, .resume-overlay .resume-container .education p, .resume-overlay .resume-container .education li, .resume-overlay .resume-container .profiles p, .resume-overlay .resume-container .profiles li {
  font-size: 1rem;
  color: #fff;
}
.resume-overlay .resume-container .summary ul, .resume-overlay .resume-container .skills ul, .resume-overlay .resume-container .experience ul, .resume-overlay .resume-container .education ul, .resume-overlay .resume-container .profiles ul {
  padding-left: 20px;
}
.resume-overlay .resume-container .skills ul {
  -moz-columns: 2;
       columns: 2;
}
.resume-overlay .resume-container .skills ul li {
  list-style-type: disc;
}
.resume-overlay .resume-container .experience h3, .resume-overlay .resume-container .education h3 {
  font-size: 1.4rem;
  color: #66C3FF;
}
.resume-overlay .resume-container .profiles a {
  color: #0073e6;
  text-decoration: none;
}

@media (max-width: 768px) {
  .section-divider {
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=index.css.map */