body, html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #1c1c1c;
}

h1 {
  color: #66C3FF;
  margin-left: 24px;
  font-size: 36px;
}

.custom-btn {
  box-shadow: inset 0px 34px 0px -15px #f50057;
  background: linear-gradient(to bottom, #f50057 5%, #d62563 100%);
  background-color: #f50057;
  border-radius: 21px;
  border: 3px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 17px;
  font-weight: bold;
  padding: 14px 25px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}

.custom-btn:hover {
  background: linear-gradient(to bottom, #d62563 5%, #f50057 100%);
  background-color: #fff;
}

.custom-btn:active {
  position: relative;
  top: 1px;
}

.skewed-right {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(8deg);
}

.skewed-left {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-8deg);
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons li {
  margin: 0 15px;
}
.social-icons li a {
  color: #fff;
  font-size: 18px;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #212223;
  position: relative;
  z-index: 10;
  height: 80px;
}
.hero .navbar .nav-links {
  display: flex;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hero .navbar .nav-links li {
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.hero .navbar .nav-links li a {
  color: #66C3FF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.hero .navbar .nav-links li a:hover {
  color: white;
}
.hero .navbar .nav-links li:hover {
  background-color: #1c1c1c;
  cursor: pointer;
}
.hero .navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.5s ease;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 4px;
}
.hero .navbar .hamburger span {
  width: 100%;
  height: 3px;
  background-color: #66C3FF;
  transition: all 0.3s;
}
.hero .navbar .mobile-menu {
  position: fixed;
  top: -18px;
  right: -100%;
  background-color: rgba(245, 0, 87, 0.9019607843);
  width: 70%;
  height: 100vh;
  padding: 0;
  text-align: center;
  transition: right 0.4s ease;
  padding-top: 25%;
}
.hero .navbar .mobile-menu li {
  width: 100%;
  margin: 0;
  list-style: none;
  margin: 15px 0;
}
.hero .navbar .mobile-menu li a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.hero .navbar .mobile-menu li a:hover {
  background-color: #1c1c1c;
  color: #f50057;
}
.hero .navbar .mobile-menu.active {
  right: 0;
}
@media (max-width: 768px) {
  .hero .navbar .social-icons {
    padding: 0;
  }
  .hero .navbar .social-icons li {
    margin: 0 5px;
  }
}
@media (max-width: 480px) {
  .hero .navbar {
    background-color: transparent;
    margin-right: 40px;
    position: fixed;
    right: 0;
    align-items: center;
  }
  .hero .navbar .nav-links {
    display: none;
  }
  .hero .navbar .hamburger {
    display: flex;
  }
  .hero .navbar .hamburger.active {
    transform: rotate(90deg);
  }
  .hero .navbar .social-icons {
    display: none;
  }
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 200px 50px;
  background: url("../assets/images/shapes.svg");
  z-index: 2;
}
.hero .hero-content .text-content {
  max-width: 600px;
  color: #ffffff;
  width: 50%;
  text-align: center;
}
.hero .hero-content .text-content h2 {
  font-size: 36px;
  font-weight: normal;
}
.hero .hero-content .text-content h1 {
  font-size: 84px;
  color: #f50057;
  margin: 10px 0;
}
.hero .hero-content .text-content p {
  font-size: 16px;
  margin: 20px 0;
}
.hero .hero-content .text-content .cta-button {
  background-color: #f50057;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.hero .hero-content .text-content .cta-button:hover {
  background-color: #c20045;
}
.hero .hero-content .img-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero .hero-content .img-container .image-content {
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 600px;
  box-shadow: 0 10px 15px -5px rgb(35, 8, 6);
  margin-top: 200px;
}
.hero .hero-content .img-container .image-content img {
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  width: 100%;
  min-width: 249px;
  min-height: 359px;
  bottom: 0;
}
.hero .hero-content .img-container .image-content .img-description {
  font-size: 24px;
}

@media (max-width: 768px) {
  .hero .hero-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .hero .hero-content .img-container {
    margin-top: 377px;
  }
  .hero .hero-content .img-container .image-content {
    margin-top: 100px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero .navbar .nav-links li {
    margin: 0;
  }
  .hero .hero-content {
    padding: 0 12px;
  }
  .hero .hero-content .text-content h2 {
    font-size: 36px;
  }
  .hero .hero-content .text-content h1 {
    font-size: 48px;
  }
  .hero .hero-content .img-container .image-content {
    margin-top: 0;
    width: 100%;
  }
}
.about-section {
  color: white;
  margin-top: 80px;
  padding: 0 50px;
  z-index: 1;
  position: relative;
}
.about-section .paragraphs {
  display: flex;
  gap: 5%;
}
.about-section .paragraphs p {
  line-height: 1.6em;
  z-index: 1;
}

.portfolio-section {
  margin: 50px 0;
  padding: 0 50px;
}
.portfolio-section .card-container {
  display: flex;
  justify-content: space-around;
}
.portfolio-section .card-container .omniclip-card {
  background: url("../assets/images/omni-thumbnail.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000;
}
.portfolio-section .card-container .tdd-card {
  background: url("../assets/images/tdd_logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #111;
}
.portfolio-section .card-container .card {
  position: relative;
  width: 33%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.portfolio-section .card-container .card:hover {
  cursor: pointer;
}
.portfolio-section .card-container .card .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.portfolio-section .card-container .card:hover .card-title {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 1200px) {
  .portfolio-section .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-section .card-container .card {
    width: 100%;
  }
}
.portfolio-section .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.resume-section {
  position: relative;
  min-height: 100vh;
}
.resume-section .shape-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.resume-section .shape {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100px;
  height: 100px;
}
.resume-section .shape.visible {
  opacity: 1;
  transform: scale(1);
}

.resume-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.resume-overlay .resume-container {
  border-radius: 100px;
  background: none;
  padding: 40px;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 -4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 100%;
  margin-top: 145px;
  z-index: 2;
}
.resume-overlay .resume-container .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.resume-overlay .resume-container .button-container .custom-btn {
  border-radius: 0;
}
.resume-overlay .resume-container .header {
  text-align: center;
}
.resume-overlay .resume-container .header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #f50057;
}
.resume-overlay .resume-container .header p {
  font-size: 1rem;
  color: #66C3FF;
}
.resume-overlay .resume-container .header a {
  color: #0073e6;
  text-decoration: none;
}
.resume-overlay .resume-container .summary, .resume-overlay .resume-container .skills, .resume-overlay .resume-container .experience, .resume-overlay .resume-container .education, .resume-overlay .resume-container .profiles {
  margin: 20px 0;
}
.resume-overlay .resume-container .summary h2, .resume-overlay .resume-container .skills h2, .resume-overlay .resume-container .experience h2, .resume-overlay .resume-container .education h2, .resume-overlay .resume-container .profiles h2 {
  font-size: 1.8rem;
  color: #fff;
  border-bottom: 2px solid #f50057;
  padding-bottom: 10px;
}
.resume-overlay .resume-container .summary p, .resume-overlay .resume-container .summary li, .resume-overlay .resume-container .skills p, .resume-overlay .resume-container .skills li, .resume-overlay .resume-container .experience p, .resume-overlay .resume-container .experience li, .resume-overlay .resume-container .education p, .resume-overlay .resume-container .education li, .resume-overlay .resume-container .profiles p, .resume-overlay .resume-container .profiles li {
  font-size: 1rem;
  color: #fff;
}
.resume-overlay .resume-container .summary ul, .resume-overlay .resume-container .skills ul, .resume-overlay .resume-container .experience ul, .resume-overlay .resume-container .education ul, .resume-overlay .resume-container .profiles ul {
  padding-left: 20px;
}
.resume-overlay .resume-container .skills ul {
  -moz-columns: 2;
       columns: 2;
}
.resume-overlay .resume-container .skills ul li {
  list-style-type: disc;
}
.resume-overlay .resume-container .experience h3, .resume-overlay .resume-container .education h3 {
  font-size: 1.4rem;
  color: #66C3FF;
}
.resume-overlay .resume-container .profiles a {
  color: #0073e6;
  text-decoration: none;
}

.contact-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 -4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  margin-top: 50px;
}
.contact-section .contact-info {
  color: #f50057;
  background: url("../assets/images/hexagon-grid.svg") no-repeat;
}
.contact-section .contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contact-section .contact-info p {
  font-size: 16px;
}
.contact-section .contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  border: #66C3FF 2px solid;
  border-radius: 25px;
  background-color: #286a97;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.contact-section .contact-form input, .contact-section .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.contact-section .contact-form input::-moz-placeholder, .contact-section .contact-form textarea::-moz-placeholder {
  color: #aaa;
}
.contact-section .contact-form input::placeholder, .contact-section .contact-form textarea::placeholder {
  color: #aaa;
}
.contact-section .contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4169E1;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  .contact-section .contact-form {
    margin: 0 auto;
    padding: 0;
  }
  .contact-section .contact-info {
    display: none;
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: relative;
  z-index: 1;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .logo a {
  font-size: 24px;
  font-weight: bold;
}
footer .logo p {
  font-size: 24px;
  color: #f50057;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-section-divider {
  bottom: 20px;
}

@media (max-width: 768px) {
  .section-divider {
    margin-bottom: 80px;
  }
  .contact-section {
    flex-direction: column;
    justify-content: center;
    background: url("../assets/images/hexagon-grid.svg") no-repeat;
  }
  .footer-section-divider {
    bottom: 120px;
  }
}
@media (max-width: 480px) {
  .footer-bottom {
    flex-direction: column;
  }
  .social-icons li {
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */