@import 'variables.scss';

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: $secondary-color;
    scroll-behavior: smooth;
}

h1 {
    color: $accent-color;
    margin-left: 24px;
    font-size: 36px;
}



.custom-btn {
    box-shadow:inset 0px 34px 0px -15px $primary-color;
    background:linear-gradient(to bottom, $primary-color 5%, #d62563 100%);
    background-color:$primary-color;
    border-radius:21px;
    border:3px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:17px;
    font-weight:bold;
    padding:14px 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
}

.custom-btn:hover {
    background:linear-gradient(to bottom, #d62563 5%, $primary-color 100%);
    background-color:#fff;
}

.custom-btn:active {
    position:relative;
    top:1px;
}

.skewed-right {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(8deg);
}

.skewed-left {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(-8deg);
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 15px;
        a {
            color: #fff;
            font-size: 18px;
        }
    }
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        background-color: #212223;
        position: relative;
        z-index: 10;
        height: 80px;

        .nav-links {
            display: flex;
            align-items: stretch;
            list-style: none;
            margin: 0;
            padding: 0;
        
            li {
                margin: 0 15px;
                position: relative;
                display: flex;
                align-items: center;
                

                a {
                    color: $accent-color;
                    text-decoration: none;
                    font-size: 16px;
                    padding: 10px 15px;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    &:hover {
                        color: lighten($white, 20%);
                    }
                }
                &:hover {
                    background-color: #1c1c1c;
                    cursor: pointer;
                }
            }
        }

        // Hamburger icon
        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            width: 30px;
            height: 30px;
            justify-content: space-around;
            align-items: center;
            transition: transform 0.5s ease;
            z-index: 11; 
            background-color: rgba(255, 255, 255, 0.04);
            padding: 4px;

            span {
                width: 100%;
                height: 3px;
                background-color: $accent-color;
                transition: all 0.3s;
            }
        }

        // Mobile menu styling
        .mobile-menu {
            position: fixed;
            top: -18px;
            right: -100%; // Start off-screen to the right
            background-color: #f50057e6;
            width: 70%; // Take up half of the screen
            height: 100vh;
            padding: 0;
            text-align: center;
            transition: right 0.4s ease; // Slide in animation and fade in
            padding-top: 25%;

            li {
                width: 100%;
                margin: 0;
                list-style: none;
                margin: 15px 0;

                a {
                    display: inline-block;
                    padding: 15px;
                    width: 100%;
                    text-decoration: none;
                    color: $white;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: #1c1c1c; // Same hover background color as the normal links
                        color: $primary-color; // Same hover text color as the normal links
                    }
                }
            }

            &.active {
                right: 0; // Slide into view when active
            }
        }

        @media (max-width: 768px) {
            .social-icons {
                padding: 0;
                li {
                    margin: 0 5px;
                }
            }
        }

        // Show hamburger icon
        @media (max-width: 480px) {
            background-color: transparent;
            margin-right: 40px;
            position: fixed;
            right: 0;
            align-items: center;
            .nav-links {
                display: none;
            }

            .hamburger {
                display: flex;
            }

            .hamburger.active {
                transform: rotate(90deg);
            }

            .social-icons {
                display: none;
            }
        }
    }

    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 200px 50px;
        background: url('../assets/images/shapes.svg');
        z-index: 2;

        .text-content {
            max-width: 600px;
            color: $white;
            width: 50%;
            text-align: center;

            h2 {
                font-size: 36px;
                font-weight: normal;
            }

            h1 {
                font-size: 84px;
                color: $primary-color;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                margin: 20px 0;
            }

            .cta-button {
                background-color: $primary-color;
                color: $white;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }

        .img-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            .image-content {
                position: relative;
                width: 100%;
                height: 50%;
                max-width: 600px;
                box-shadow: 0 10px 15px -5px rgb(35 8 6);
                margin-top: 200px;

                img {
                    border-radius: 8px;
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    min-width: 249px;
                    min-height: 359px;
                    bottom: 0;
                }

                .headshot {
                    box-shadow: $box-shadow;
                }

                .img-description {
                    font-size: 24px;
                }
            }
            // .last-name {
            //     color: $primary-color;
            //     margin: 0 auto; 
            // }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero-content {
            flex-direction: column;
            align-items: center;
            padding: 0;
            .img-container {
                margin-top: 377px;
                .image-content {
                    margin-top: 100px;
                    width: 100%;
                }      
            }
        }      
    }   
}       

@media (max-width: 480px) {
    .hero {
        .navbar .nav-links li {
            margin: 0;
        }
        .hero-content {
            padding: 0 12px;
            .text-content {
                h2 {
                    font-size: 36px;
                }
    
                h1 {
                    font-size: 48px;
                }
            }
            
            .img-container {
            
                .image-content {
                    margin-top: 0;
                    width: 100%;   
                }      
            }
        }      
    }   
}  


#about-section {
    color: white;
    margin-top: 80px;
    padding: 0 50px;
    z-index: 1;
    position: relative;

    .paragraphs {
        display: flex;
        gap: 5%;
        p {
            line-height: 1.6em;
            z-index: 1;
        }
    }
}


#portfolio-section {
    margin: 50px 0;
    padding: 0 50px;


    .card-container {
        display: flex;
        justify-content: space-around;

        .omniclip-card {
            background: url('../assets/images/omni-thumbnail.jpg') no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #000;
        }

        .tdd-card {
            background: url('../assets/images/tdd_logo.png') no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #111;
        }

        .card {
            position: relative;
            width: 33%;
            height: 400px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            z-index: 1;

            &:hover {
                cursor: pointer;
            }

            .card-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding: 10px 20px;
                font-size: 24px;
                border-radius: 5px;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &:hover .card-title {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }

        
        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .card {
                width: 100%;
            }
        }
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.resume-section {
    position: relative;
    min-height: 100vh; 

    .shape-container {
        position: relative;
        min-height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .shape {
        position: absolute;
        opacity: 0; // Start with opacity 0
        transform: scale(0.5); // Start with a smaller size (scale down)
        transition: opacity 0.5s ease, transform 0.5s ease;  
        width: 100px;
        height: 100px;

        // Class added when the shape should be visible
        &.visible {
            opacity: 1;
            transform: scale(1); // Move into view when visible
        }
    }
}


.resume-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; // Ensure it's above the shape-container
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    .resume-container {
        border-radius: 100px;
        background: none;
        padding: 40px;
        max-width: 800px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        min-height: 100%;
        margin-top: 145px;
        z-index: 2;

        .button-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .custom-btn {
                border-radius: 0;
            }
        }

        .header {
            text-align: center;
            h1 {
                font-size: 2.5rem;
                margin-bottom: 10px;
                color: $primary-color;
            }
            p {
                font-size: 1rem;
                color: $accent-color;
            }
            a {
                color: #0073e6;
                text-decoration: none;
            }
        }

        .summary, .skills, .experience, .education, .profiles {
            margin: 20px 0;
            h2 {
                font-size: 1.8rem;
                color: #fff;
                border-bottom: 2px solid $primary-color;
                padding-bottom: 10px;
            }
            p, li {
                font-size: 1rem;
                color: #fff;
            }
            ul {
                padding-left: 20px;
            }
        }

        .skills ul {
            columns: 2;
            li {
                list-style-type: disc;
            }
        }

        .experience h3, .education h3 {
            font-size: 1.4rem;
            color: $accent-color;
        }

        .profiles a {
            color: #0073e6;
            text-decoration: none;
        }
    }
}


#contact-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    box-shadow: $box-shadow;
    border-radius: 10px;
    z-index: 1;
    margin-top: 50px;

    .contact-info {
        color: $primary-color;
        background: url("../assets/images/hexagon-grid.svg") no-repeat;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
        }
    }
  
    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: fit-content; // Adjust width as needed
        border: $accent-color 2px solid;
        border-radius: 25px;
        background-color: #286a97;
        padding: 20px;
        position: relative;
        z-index: 1;

        h2 {
            text-align: center;
            font-size: 24px;
            margin-top: 45px;
            color: white;
            font-style: bold;
        }
  
        input, textarea {
            padding: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
            width: 80%;
            
            &::placeholder {
                color: #aaa;
            }
        }

        p {
            a {
                color: #f2f980;
            }
        }
  
        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: #4169E1; // Button color
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 0;
        margin: 0;
        padding: 0;

        .contact-form {
            margin: 0 auto;
            // padding: 0;
        }

        .contact-info {
            display: none;
        }
        
    }
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;

    .footer-top {
        display: flex;
        justify-content: space-between;
    }
      
    .logo {
        a {
            font-size: 24px;
            font-weight: bold;
        }
        p {
            font-size: 24px;
            color: $primary-color
        }
    }
}
  
  
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-section-divider {
    bottom: 20px;
}
  

  
@media (max-width: 768px) {
    .section-divider {
        margin-bottom: 80px;
    }

    #contact-section {
        flex-direction: column;
        justify-content: center;
        background: url("../assets/images/hexagon-grid.svg") no-repeat;
    }

    .footer-section-divider {
        bottom: 120px;
    }
}

@media (max-width: 480px) {
    .footer-bottom {
        flex-direction: column;
    }

    .social-icons li {
        margin: 0;
    }
}